<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="upload">
                    <match url="^upload$" />
                    <action type="Rewrite" url="/cgi/upload.py" />
                </rule>
                <rule name="list">
                    <match url="^list$" />
                    <action type="Rewrite" url="/cgi/list.py" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
